{%- liquid 
  assign pack_size = product.metafields.custom.pack_size
  assign pack_swatch_images = product.metafields.custom.pack_item_color_swatch_images.value
-%}
<pack-picker data-item-limit="{{pack_size}}" data-pack-name="{{- product.title -}}" data-target-form="{{form_id}}" data-variant-id="{{product.selected_or_first_available_variant.id}}">
  <div class="selected_pack_panel" data-selected-pack-panel>
    {% for i in (1..pack_size) %}
      <span class="selectedPackItem" 
        data-selected-item="false"
        data-item-index = "{{forloop.index0}}"
        style="--item-background-image: none; --item-background-color: none;">
        <span class="selectedPackItem__icon"><span class="icon-plus">+</span></span>
        <span class="selectedPackItem__label" data-selectedItem-label>Add Item</span>
      </span>
    {% endfor %}
    <span class="clearSelectedPackItem" data-selected-pack-trigger>CLEAR ALL</span>
  </div>
  <p class="pack-item-warning" data-item-warning>Please add more <span class="more-item-count" data-blank-items-count></span> items.</p>
  <div class="bundle-items__wrapper" data-bundle-items-panel>
    <div class="bundle-items__label">Choose Your Colour</div>
    <div class="bundle-items" data-bundle-items>
      {%- for pack_item_swatch in pack_swatch_images -%}
        {%- liquid
          assign item_swatch_value = pack_item_swatch.product_and_color_name | split: '-' | last | strip
          assign item_swatch_image = pack_item_swatch.swatch_image
        -%}

        <span 
          class="bundle-item" 
          title="{{item_swatch_value}}" 
          style="background-image: url('{{item_swatch_image | image_url: width: 50}}'); background-color: {{- item_option_value | handle -}}"
          data-item-id="{{bundle_item.id}}"
          data-option-value="{{- item_swatch_value -}}"
          data-item-swatch-image = "{{item_swatch_image | image_url: width: 50}}"
          data-item-fallback-color = "{{- item_swatch_value | handle -}}"
          data-bundle-item></span>
      {%- endfor -%}
    </div>
  </div>
</pack-picker>